#root {
  margin: 0 auto;
  padding: 2rem;
}
.folder {
  display: flex;
  background-color: #494646;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  margin: 2px;
  width: 25%;
  cursor: pointer;
}

.folder > span {
  margin: 0 5px 2px 0;
}
.file {
  margin-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}
